@model RevolutionaryLearningLibrary.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<script>
	app.controller('passwordController', function ($scope, $http)
	{
		// variables
		$scope.title = '@ViewBag.Title';
		$scope.currentPassword = '@ViewBag.Password';
		$scope.newPassword = "";
		$scope.confirmPassword = "";
		$scope.error = false;
		$scope.errorMessage = "Invalid Current Password";

		// functions
		$scope.changePassword = function (curPassword, newPassword, confirmPassword)
		{
			if (newPassword !== confirmPassword)
			{
				$scope.errorMessage = "Passwords do not match";
				$scope.error = true;
				return;
			}

			var parameters = JSON.stringify({
				Email: "",
				CurrentPassword: curPassword,
				NewPassword: newPassword,
				ConfirmPassword: confirmPassword
			});

			$http.post('@ViewBag.ChangePassword', parameters).
				then(function success(data)
				{
					if (data.data.StatusCode == StatusCode.NoContent)
					{
						$scope.error = true;
						$scope.errorMessage = "Server error.  Contact the admin to change your password";
					}
					else
					{
						$scope.error = false;
						window.location = "/Home/Index";
					}
				},
				function error(data)
				{
					$scope.error = true;
					$scope.errorMessage = "Server error.  Contact the admin to change your password";
					alert(data.data);
				});
		};

	});
</script>

<div ng-app="rev" ng-controller="passwordController">
	<h2>{{title}}</h2>
	<div class="row">
		<div class="col-md-8">
			<section id="passwordForm">
				<div class="form-group">
					<label class="col-md-2 control-label">Current Password</label>
					<input type="password" class="form-control" ng-model="currentPassword" />
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">New Password</label>
					<input type="password" class="form-control" ng-model="newPassword" />
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Confirm New Password</label>
					<input type="password" class="form-control" ng-model="confirmPassword" />
				</div>
				<error ng-attr-has-error="error" ng-attr-error-message="errorMessage"></error>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button ng-click="changePassword(currentPassword, newPassword, confirmPassword)" 
								type="button" class="btn btn-default">Change Password</button>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>