@{
    ViewBag.Title = "Change Password";
}

<div ng-app="passwordApp" ng-controller="passwordController" ng-init="init('@ViewBag.Title', '@ViewBag.Password')">
	<h2>{{title}}</h2>
	<div class="row">
		<div class="col-md-8">
			<section id="passwordForm">
				<div class="form-group">
					<label class="col-md-2 control-label">Current Password</label>
					<input type="password" class="form-control" ng-model="currentPassword" />
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">New Password</label>
					<input type="password" class="form-control" ng-model="newPassword" />
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Confirm New Password</label>
					<input type="password" class="form-control" ng-model="confirmPassword" />
				</div>
				<error ng-attr-has-error="error" ng-attr-error-message="errorMessage"></error>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button ng-click="changePassword(currentPassword, newPassword, confirmPassword)" 
								type="button" class="btn btn-default">Change Password</button>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>