body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap Overrides */
.form-control
{
  display: inline-block;
}

.label
{
  cursor: pointer;
}

.dropdown
{
  width: 200px;
}

.thumbnail
{
  max-width: 110px;
  display: inline-block;
}

/* Custom styles */
.form-label
{
  width: 80px;
  margin-left: 5px;
}

.item-panel
{
  margin-right: 10px;
  cursor: pointer;
}

.item-description
{
  max-width: 150px;
  text-wrap: normal;
  overflow: hidden;
  cursor: pointer;
}

.small-image
{
  margin-left: 40px;
  width: 35px;
}

/* Direct modifiers */
.__inline-block
{
  display: inline-block;
}

.__bold
{
  font-weight: bold;
}

.__padding-5
{
  padding: 5px;
}

.__float-right
{
  float: right;
}

.__margin-10
{
  margin: 10px;
}