body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap Overrides */
.form-control
{
  display: inline-block;
}

.label
{
  cursor: pointer;
}

.dropdown
{
  width: 200px;
}

.thumbnail
{
  max-height: 130px;
  max-width: 100px;
  display: inline-block;
  vertical-align: top;
}

/* Custom styles */
.form-label
{
  margin-left: 5px;
  width: 100px;
}

.item-panel
{
  margin-right: 10px;
}

.item-panel-body
{
  padding: 5px;
  height: 140px;
  cursor: pointer;
}

.item-description
{
  max-width: 150px;
  text-wrap: normal;
  overflow: hidden;
  cursor: pointer;
}

.small-image
{
  margin-left: 40px;
  width: 35px;
}

.med-image
{
  max-width: 150px;
}

.big-image
{
  max-width: 250px;
}

.left-panel
{
  display: inline-block;
  width: 250px;
}

.right-panel
{
  display: inline-block;
  vertical-align: top;
  max-width: 300px;
}

.image-button
{
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.sub-navbar
{
  color: black;
  padding: 15px 15px;
  line-height: 20px;
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
}

.sub-navbar:hover
{
  color: #808080;
}

.navbar-normal
{
  background-color: #dedede;
}

/* Direct modifiers */
.__inline-block
{
  display: inline-block;
}

.__inline-flex
{
  display: inline-flex;
}

.__block
{
  display: block;
}

.__bold
{
  font-weight: bold;
}

.__padding-5
{
  padding: 5px;
}

.__float-right
{
  float: right;
}

.__margin-10
{
  margin: 10px;
}

.__margin-bottom-10
{
  margin-bottom: 10px;
}

.__margin-left-5
{
  margin-left: 5px;
}

.__margin-left-10
{
  margin-left: 10px;
}

.__width-100
{
  width: 100px;
}